body{
    font-family: 'Nunito Sans', sans-serif;
    padding-top: 70px;
}

.navbar{
    padding-top: 10px;
    padding-bottom: 10px;
    color: #0a1b4e;
    border: none;
    background-color: white
}

.navbar-header img{
    height: 50px;
    object-fit: cover;
    width: 200px;
}

.navbar-default .navbar-nav{
    padding-left: 30px;
}

.navbar-default .navbar-nav > li > a {
    color: #0a1b4e;
    font-size: 15px;
    font-weight: 700;
}

.navbar-default .navbar-nav > li > a:hover{
    color: #0069ff;
}

.navbar-btn{
    background: none;
    margin-right: 20px;
    font-weight: 700;
    color: #0069ff;
    border-color: #0069ff;
    font-size: 16px;
}

.navbar-btn:hover{
    background: #0069ff;
    color: white;
    border-color: #0069ff;
}

.banner{
    background-color: #0a1b4e;
    background-image: url('https://www.digitalocean.com/assets/media/homepage/bg-home-1-d54581d7.jpg');
    background-size: cover;
}

.banner .ms--banner-text{
    color: white;
    padding-top: 100px;
    padding-bottom: 100px;
}

.banner h1{
    font-size: 70px;
    font-weight: 700;
}

.banner h2{
    font-size: 25px;
    line-height: 35px;
}

.ms--jumbotron{
    background-color: white;
    padding: 20px;
    transform: translateY(50%);
    border-radius: 5px;
}

.ms--jumbotron h3{
    font-size: 30px;
    font-weight: 800;
    padding-bottom: 20px;
}
