body{
    font-family: 'Nunito Sans', sans-serif;
    padding-top: 70px;
}

.navbar{
    padding-top: 10px;
    padding-bottom: 10px;
    color: #0a1b4e;
    border: none;
    background-color: white
}

.navbar-header img{
    height: 50px;
    object-fit: cover;
    width: 200px;
}

.navbar-default .navbar-nav{
    padding-left: 30px;
}

.navbar-default .navbar-nav > li > a {
    color: #0a1b4e;
    font-size: 15px;
    font-weight: 700;
}

.navbar-default .navbar-nav > li > a:hover{
    color: #0069ff;
}

.navbar-btn{
    background: none;
    margin-right: 20px;
    font-weight: 700;
    color: #0069ff;
    border-color: #0069ff;
    font-size: 16px;
}

.navbar-btn:hover{
    background: #0069ff;
    color: white;
    border-color: #0069ff;
}

.banner{
    background-color: #0a1b4e;
    background-image: url('https://www.digitalocean.com/assets/media/homepage/bg-home-1-d54581d7.jpg');
    background-size: cover;
}

.banner .ms--banner-text{
    color: white;
    padding-top: 100px;
    padding-bottom: 100px;
}

.banner h1{
    font-size: 70px;
    font-weight: 700;
}

.banner h2{
    font-size: 25px;
    line-height: 35px;
}

.ms--jumbotron{
    margin: 30px 20px;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    float: right;
}

.ms--jumbotron h3{
    font-size: 30px;
    font-weight: 800;
    padding-bottom: 20px;
}
.form-control{
    border: 1px solid #f1f1f1;
}

.form-control::placeholder{
    color:rgba(3,27,78,.75);
}

.ms--jumbotron button.create-account{
    background-color: #0069ff;
    border-radius: 4px;
    color:white;
}

.ms--jumbotron button.create-account:hover{
    background: #1633ff;
}

.ms--jumbotron img{
    height: 18px;
    display: inline;
    margin-right: 50px;
}
.ms--jumbotron h4{
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #5b6987;
}

.ms--jumbotron h4::before,
.ms--jumbotron h4::after {
    content: '';
    display: inline-block;
    width: 30%;
    height: 1px;
    background-color: lightgray;
    position: relative;
    bottom: 5px;
}

.ms--jumbotron button{
    display: inline-block;
    background-color: #f2f8ff;
    border-color: #c2dcff;
    color: #031b4e;
    font-size: 18px;
    font-weight: 700;
    padding-right: 60px;
    border-radius: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.ms--jumbotron button:hover{
    background-color: #d5e4f7;
    border-color: #c2dcff;
}

.ms--jumbotron button.left{
    float:left;
    margin-right: 15px;
}
.ms--jumbotron h6{
    padding-top: 20px;
    color: #5b6987;
}
/* FINE BANNER */

.ms--business-title h5{
    color: #99a3b8;
    font-weight: 700;
}

.business-solutions{
    background-color: #f3f5f9;
    padding-top: 40px;
    padding-bottom: 40px;
}

.ms--business-logo{
    height: 100px;
    padding: 10px;
}

.ms--business-logo img{
    height: 80px;
    vertical-align: middle;
    object-fit: contain;
}

.business-solutions a{
    font-size: 18px;
    color: #0f69ff;
    font-weight: 700;
}

.business-solutions a:hover{
    color: #005fe6;
    text-decoration: none;
}
/* FINE BUSINESS SOLUTIONS AREA */

.ms--deploy-title h2{
    font-size: 38px;
    font-weight: 700;
    color: #031b4e;
    padding-top: 100px;
}

.ms--deploy-title h3{
    color: #51628a;
    font-size: 22px;
}

.ms--deploy-menu{
    padding-top: 50px;
}

.ms--deploy-menu li{
    padding-bottom: 10px;
    padding-top: 10px;
    border-left: 1px solid #e5e8ed;
    padding-left: 20px;
}

.ms--deploy-menu a{
    font-size: 18px;
    font-weight: 700;
    color: #51628a;
}

.ms--deploy-menu li:hover a{
    text-decoration: none;
    color: #031b4e;
}

.ms--deploy-menu li:hover{
    border-left: 2px solid #0069ff;
}

.ms--box h2{
    color: #031b4e;
    font-size: 18px;
    font-weight: 700;
}

.ms--box p{
    color: #51628a;
    font-size: 17px;
}

.ms--box{
    padding-top: 50px;
}
/* FINE DEPLOY AREA */

.ms--slide{
    background-color: #f3f5f9;
    color: #031b4e;
    padding-top: 100px;
    padding-bottom: 100px;
}

.ms--slide h2{
    font-size: 38px;
    font-weight: 700;
    color: #031b4e;
}

.ms--slide h3{
    background-color: #f3f5f9;
    color: #51628a;
    font-size: 22px;
}

.ms--slide img{
    max-height: 530px;
    padding-top: 60px;
    vertical-align: middle;
}

.ms--slide p{
    max-width: 700px;
    text-align: left;
    margin: 30px auto;
    color: #51628a;
    font-size: 17px;
}

.ms--slide-container i{
    color: #0069ff;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 10px;
}

.ms--slide-container i:first-of-type{
    font-weight: 700;
}
